<tr id="<%= dom_id deal_investor %>">
<td>
    <%= link_to deal_investor.deal_name, deal_investor.deal %>    
</td>  
<td>
    <%= link_to deal_investor.investor_name, deal_investor %>
    <div>
        <span class="badge <%= status_badge(deal_investor) %>"><%= deal_investor.status %></span>
    </div>
</td>  
<td>
    <%= number_to_currency deal_investor.primary_amount %>
</td>  
<td>
    <%= number_to_currency deal_investor.secondary_investment %>
</td>  
<td>
    <%= deal_investor.entity_name %>
</td>  
<td>
<% if current_user.entity_id == deal_investor.entity_id %>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <%= link_to "View Activity", deal_activities_path(deal_id: deal_investor.deal_id, deal_investor_id: deal_investor.id) , {class: "dropdown-item"}%>
        <%= link_to "New Message", new_deal_message_path("deal_message[deal_investor_id]": deal_investor.id) , {class: "dropdown-item"}%>
        <div class="dropdown-divider"></div>
        
        <%= link_to "View Messages", deal_messages_path(deal_investor_id: deal_investor.id) , {class: "dropdown-item"}%>
        <%= link_to "View Access", access_rights_path(deal_id: deal_investor.deal_id, access_to_investor_id: deal_investor.id) , {class: "dropdown-item"}%>
        <div class="dropdown-divider"></div>
        
        <%= link_to "New Doc", new_deal_doc_path("deal_doc[deal_id]": deal_investor.deal_id, "deal_doc[deal_investor_id]": deal_investor.id) , {class: "dropdown-item"}%>
        <%= link_to "View Docs", deal_docs_path(deal_investor_id: deal_investor.id) , {class: "dropdown-item"}%>                
    </div>
  </div>
<% end %>
</td>
</tr>
