<%= render "/layouts/alerts" %>

<%= render "deal_investors/show", deal_investor: @deal_investor %>

<% if current_user.entity_id == @deal_investor.entity_id %>
<div>
  <%= link_to "Edit", edit_deal_investor_path(@deal_investor), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |
  <%= button_to "Delete", @deal_investor, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>
<% end %>

<div id="deal_activities" class="associated_entity">
  <%= render "/deal_activities/index", deal_activities: @deal_investor.deal_activities %>
</div>