
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
  <span>
  <% show_scenarios ||= false %>
  <% if title == "Equity" %>
    <%= render "investments/currency_form" %>

    <% if current_user.entity_id == entity.id %>
    
      <% if show_scenarios %>
        <%= render "investments/scenarios_form"  %>
        <%= link_to "Scenarios", scenarios_path, {class: "btn btn-primary"} %>
      <% end %>

      <%= link_to "Aggregated View", aggregate_investments_path, {class: "btn btn-primary"} %>

      <%= link_to "New Investment", new_investment_path("investment[investee_entity_id]": current_user.entity_id,
                                                      "investment[investment_instrument]": title,
                                                      "investment[scenario_id]": current_scenario), 
        {class: "btn btn-primary"} %>

      <%= link_to "Funding Rounds", funding_rounds_path, {class: "btn btn-primary"} %>
      <%= link_to investments_path(format: :xlsx), {class: "btn btn-success"} do %>
        <i class="fa-lg fa-regular fa-file-excel"></i> Download
      <% end %>

      <%= link_to investments_path(charts: true), {class: "btn btn-success"} do %>
        <i class="fas fa-chart-line"></i> Graphs
      <% end %>

    <% else %>
      <%= link_to "Aggregate View", investor_investments_aggregate_investments_path(entity_id: entity.id), 
                  {class: "btn btn-primary"} %>
    <% end %>

  <% end %>
  
  </span>
</div>

<div class="table-responsive">

  <table id='<%= "investments-#{title}" %>' class="table table-bordered dataTable jqDataTable">

    <%= render "investments/index_header", title: title, entity: entity %>
    <tbody>
      <% investments.each do |investment| %>
        <%= render investment, title: title %>
      <% end %>
    </tbody>

  </table>

</div>
