<tr id="<%= dom_id investment %>">
<td>
    <%= investment.investment_type %>
</td>  
<td>
    <%= investment.investor.investor_entity.name %>
</td>  
<td>
    <%= investment.investee_entity.name %>
</td>  

<% if !params[:prospective] %>

    <td>
        <%= investment.investment_instrument %>
    </td>  
    <td>
        <%= investment.quantity %>
    </td>  
    <td>
        <%= number_to_currency(investment.initial_value, units: "INR")  %>
    </td>  
    <td>
        <%= investment.current_value %>
    </td>  
<% end  %>
<td>
  <%= link_to "Show", investment , {class: "btn btn-primary"}%>
</td>
</tr>
