<tr id="<%= dom_id investment %>">
<td>
    <%= link_to investment.investment_type, investment %>
</td>  
<td>
    <%= link_to investment.investor.investor_name, investment.investor %>
    <div><span class="badge badge-info"><%= investment.category %><span></div>
</td>  
<td>
    <%= investment.investee_entity.name %>
</td>  

<% if !params[:prospective] %>

    <td>
        <%= investment.investment_instrument %>
    </td>  
    <td>
        <%= investment.quantity %>
        
    </td>  

    <% if title == "Equity" %>
    <td>
        <% if investment.percentage_holding %>
            <%= investment.percentage_holding %>% 
        <% end %>
    </td>
    <td>
        <% if investment.percentage_holding %>
            <%= investment.diluted_percentage %>% 
        <% end %>
    </td>

    <% end %>
    
    <td>
        <%= money_to_currency(investment.price, investment.currency)  %>
    </td>
    <td>
        <%= money_to_currency(investment.amount, investment.currency)  %>
    </td>  
    
<% end  %>
<td>
  <%= link_to "Show", investment , {class: "btn btn-primary"}%>
</td>
</tr>
