<%= render "/layouts/alerts" %>
<table class="table table-bordered dataTable">
   <tr>
      <td>
         Investment Type
      </td>
      <td>
         <%= @investment.investment_type %>
      </td>
   </tr>
   <tr>
      <td>
         Investor
      </td>
      <td>
         <%= @investment.investor.investor_entity.name %>
      </td>
   </tr>
   <tr>
      <td>
         Investee Entity
      </td>
      <td>
         <%= @investment.investee_entity.name %>
      </td>
   </tr>

   <% if @investment.investor_type != "Prospective" %>
   <tr>
      <td>
         Category
      </td>
      <td>
         <%= @investment.category %>
      </td>
   </tr>
   
   <tr>
      <td>
         Investment Instrument
      </td>
      <td>
         <%= @investment.investment_instrument %>
      </td>
   </tr>
   <tr>
      <td>
         Quantity
      </td>
      <td>
         <%= @investment.quantity %>
      </td>
   </tr>
   <tr>
      <td>
         Initial Value
      </td>
      <td>
         <%= @investment.initial_value %>
      </td>
   </tr>
   <tr>
      <td>
         Current Value
      </td>
      <td>
         <%= @investment.current_value %>
      </td>
   </tr>
   <% end %>
</table>
<div>
   <%= link_to "Edit", edit_investment_path(@investment), {class: "btn btn-primary"} %> |
   <%= button_to "Delete", @investment, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>