<table class="table table-bordered dataTable">

    <tr>
        <td colspan="2" class="bg-primary">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="bg-primary">
            <h3>Sale Details</h3>
        </td>
    </tr>

    <tr>
        <td>
            Name
        </td>
        <td>
            <%= secondary_sale.name %>
        </td>
    </tr>
    <tr>
        <td>
            Entity
        </td>
        <td>
            <%= secondary_sale.entity.name %>
        </td>
    </tr>
    <tr>
        <td>
            Total Quantity Offered
        </td>
        <td>
            <%= secondary_sale.total_offered_quantity %>
        </td>
    </tr>
    <tr>
        <td>
            Start Date
        </td>
        <td>
            <%= l secondary_sale.start_date %>
        </td>
    </tr>
    <tr>
        <td>
            End Date
        </td>
        <td>
            <%= l secondary_sale.end_date %>
        </td>
    </tr>
    <tr>
        <td>
            Min Price
        </td>
        <td>
            <%= secondary_sale.min_price %>
        </td>
    </tr>
    <tr>
        <td>
            Max Price
        </td>
        <td>
            <%= secondary_sale.max_price %>
        </td>
    </tr>
    <tr>
        <td>
            Active
        </td>
        <td>
            <%= secondary_sale.active? ? "Yes" : "No" %>
        </td>
    </tr>

    <tr>
        <td>
            Final Price
        </td>
        <td>
            <%= custom_format_number secondary_sale.final_price, params %>
        </td>
    </tr>

    <tr>
        <td>
            Active
        </td>
        <td>
            <%= secondary_sale.active? ? "Yes" : "No" %>
        </td>
    </tr>

    <% if secondary_sale.allocation_status == "Completed" %>

        <tr>
            <td colspan="2" class="bg-primary">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="bg-primary">
                <h3>Allocation Details</h3>
            </td>
        </tr>

        <tr>
            <td>
                Clearing Price
            </td>
            <td>
                <%= custom_format_number secondary_sale.clearing_price, params %>
            </td>
        </tr>

        <tr>
            <td>
                Total Offered Quantity
            </td>
            <td>
                <%= custom_format_number secondary_sale.total_offered_quantity, params %>
            </td>
        </tr>

        <tr>
            <td>
                Allocated Offer Quantity
            </td>
            <td>
                <%= custom_format_number secondary_sale.offer_allocation_quantity, params %>
            </td>
        </tr>

        <tr>
            <td>
                Allocated Offer Amount
            </td>
            <td>
                <%= money_to_currency secondary_sale.allocation_offer_amount, params %>
            </td>
        </tr>
        <tr>
            <td>
                Total Interest Quantity
            </td>
            <td>
                <%= custom_format_number secondary_sale.total_interest_quantity, params %>
            </td>
        </tr>

        <tr>
            <td>
                Allocated Interest Quantity
            </td>
            <td>
                <%= custom_format_number secondary_sale.interest_allocation_quantity, params %>
            </td>
        </tr>

        <tr>
            <td>
                Allocated Interest Amount
            </td>
            <td>
                <%= money_to_currency secondary_sale.allocation_interest_amount, params %>
            </td>
        </tr>

        <tr>
            <td>
                Interest
            </td>
            <td>
                <%= (secondary_sale.allocation_percentage * 100.00) > 100 ? "Over Sold" : "Under Sold" %> 
            </td>
        </tr>

        <% end %>

</table>