<tr id="<%= dom_id note %>">
<td>
    <%= note.user.name %>
</td>  
<td>
    <%= note.investor.investor_name %>
</td>  
<td class="">
    <%= note.details %>
</td>  

<td>
  <%= link_to "Show", note , {class: "btn btn-primary"}%>
</td>
</tr>
