<tr id="<%= dom_id note %>">
<td>
    <%= link_to note.user.name, notes_path(user_id: note.user_id) %>
</td>
<td>
    <%= l note.on if note.on %>
</td>    
<td>
    <%= link_to note.investor.investor_name, note.investor %>
</td>  
<td class="">
    <%= note.details %>
</td>  

<td>
  <%= link_to "Show", note , {class: "btn btn-primary"}%>
</td>
</tr>
