<tr id="<%= dom_id investor_access %>">
  <td>
    <%= investor_access.investor_name %>
  </td>
  <td>
    <%= investor_access.user.name if investor_access.user %>
  </td>
  <td>
    <%= investor_access.email %>
  </td>
  <td>
    <%= investor_access.approved ? "Yes" : "No" %>
  </td>
  <td>
    <%= investor_access.granter&.name %>
  </td>
  <td>
    <%= button_to "Delete" , investor_access, method: :delete, class: "btn btn-danger" , 
        form_class: "deleteButton" if Pundit.policy(current_user, investor_access).destroy? %>
    <% label = investor_access.approved ?  "UnApprove" : "Approve" %>
    <%= button_to label , approve_investor_access_path(investor_access), method: :patch, class: "btn btn-success" , 
        form_class: "deleteButton" if Pundit.policy(current_user, investor_access).approve? %>
  </td>
</tr>