<p style="color: green"><%= notice %></p>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Investor
        </td>
        <td>
          <%= @investor_access.investor.investor_entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Email
        </td>
        <td>
          <%= @investor_access.email %>
        </td>    
      </tr>
          <tr>
        <td>
          Access Type
        </td>
        <td>
          <%= @investor_access.access_type %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_investor_access_path(@investor_access), {class: "btn btn-primary"} %> |
  <%= link_to "Back", investor_accesses_path, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @investor_access, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>
