<%= form_with(model: holding_action) do |form| %>
  <% if holding_action.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(holding_action.errors.count, "error") %> prohibited this holding_action from being saved:</h2>

      <ul>
        <% holding_action.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :holding_id %>
    <%= form.text_field :holding_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :action %>
    <%= form.text_field :action, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
