<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @holding_action.entity_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Holding
        </td>
        <td>
          <%= @holding_action.holding_id %>
        </td>    
      </tr>
          <tr>
        <td>
          User
        </td>
        <td>
          <%= @holding_action.user_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Quantity
        </td>
        <td>
          <%= @holding_action.quantity %>
        </td>    
      </tr>
          <tr>
        <td>
          Action
        </td>
        <td>
          <%= @holding_action.action %>
        </td>    
      </tr>
          <tr>
        <td>
          Notes
        </td>
        <td>
          <%= @holding_action.notes %>
        </td>    
      </tr>
    
  
</table>

