<%= form_with(model: holding, validate: true) do |form| %>
  <% if holding.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
        <% holding.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user %>
    <%= form.text_field :user_name, class: "form-control", value: holding.user&.full_name, disabled: true  %>
    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true  %>
  </div>

  <div class="form-group">
    <%= form.label :entity %>
    <%= form.text_field :user_name, class: "form-control", value: holding.entity.name, disabled: true  %>
    <%= form.text_field :entity_id, class: "form-control", hidden: true  %>
  </div>

  <% if holding.holding_type.blank? || holding.id.present? %>
  <div class="form-group">
    <%= form.label :holding_type %>
    <%= form.select :holding_type, ["Employee", "Founder"] , 
      {include_blank: true}, {class: "form-control"} %>
  </div>
  <% else %>
    <%= form.text_field :holding_type, class: "form-control", hidden: true  %>
  <% end %>

  <div class="form-group">
    <%= form.label :funding_round %>
    <%= form.select :funding_round_id, current_user.entity.funding_rounds.open.collect {|u| [u.name, u.id]}, 
      {include_blank: true}, {class: "form-control"} %>
    <small class="text-muted">Create a <%= link_to "New Funding Round", new_funding_round_path %></small> 
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :investment_instrument %>
    <%= form.select :investment_instrument, Investment.INSTRUMENT_TYPES(current_user&.entity) , 
      {include_blank: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
