<tr id="<%= dom_id holding %>">
  <td>
    <%= holding.holding_type %>
  </td>
  <td>
    <%= holding.user ? holding.user.full_name : holding.investor.investor_name %>
  </td>
  <td>
    <%= holding.user&.email %>
  </td>
  <td>
    <%= holding.entity.name %>
  </td>
  <td>
    <%= holding.investment_instrument %>
  </td>
  <td>
    <%= holding.quantity %>
  </td>
  <td>
    <%= holding.value %>
  </td>
  <td>
    <%= link_to "Show" , holding , {class: "btn btn-primary" }%>
    <% if Pundit.policy(current_user, holding).offer? %>
    <%= link_to "Offer" , new_offer_path("offer[secondary_sale_id]": secondary_sale.id, 
                          "offer[holding_id]": holding.id, "offer[investor_id]": holding.investor_id) , 
          {class: "btn btn-success" } if secondary_sale %>
    <%= link_to "Secondary Sale" , secondary_sale_path(holding.active_secondary_sale) , 
          {class: "btn btn-success" } if holding.active_secondary_sale && !secondary_sale  %>

    <% end %>
  </td>
</tr>