<tr id="<%= dom_id holding %>">
  <td>
    <%= holding.user.full_name %>
  </td>
  <td>
    <%= holding.entity.name %>
  </td>
  <td>
    <%= holding.investment_instrument %>
  </td>
  <td>
    <%= holding.quantity %>
  </td>
  <td>
    <%= holding.value %>
  </td>
  <td>
    <%= link_to "Show" , holding , {class: "btn btn-primary" }%>
  </td>
</tr>