<tr id="<%= dom_id holding %>">
  <td>
    <%= holding.holding_type %>
  </td>
  <td>
    <%= holding.user ? holding.user.full_name : holding.investor.investor_name %>
  </td>
  <td>
    <%= holding.user&.email %>
  </td>
  <td>
    <%= holding.investment_instrument %>
  </td>
  <td>
    <%= custom_format_number holding.quantity, params %>
  </td>
  <td>
    <%= custom_format_number holding.price, params %>
  </td>
  <td>
    <%= money_to_currency holding.value, params %>
  </td>


  <td>
    <%= link_to "Show" , holding , {class: "btn btn-primary" }%>
    
    <% if current_user.entity_id != holding.entity_id %>
      <% if secondary_sale && Pundit.policy(current_user, secondary_sale).offer? %>
        <!-- We are in the secondary_sale page -->
        <%= link_to "Offer" , new_offer_path("offer[secondary_sale_id]": secondary_sale.id, 
                              "offer[holding_id]": holding.id, "offer[investor_id]": holding.investor_id) , 
              {class: "btn btn-success" } %>

      <% elsif holding.active_secondary_sale && Pundit.policy(current_user, holding.active_secondary_sale).offer? %>
        <!-- We are in the holdings -->
        <%= link_to "Secondary Sale" , secondary_sale_path(holding.active_secondary_sale) , 
              {class: "btn btn-success" }   %>

      <% end %>
    <% end %>
  </td>
</tr>