  <%= render "/layouts/alerts" %>

  <%= render "/holdings/show" %>


  <div>
    <% if policy(@holding).update? %>
      <%= link_to "Edit" , edit_holding_path(@holding), {class: "btn btn-primary" } if policy(@holding).edit? %> 
      <%= button_to "Cancel" , cancel_holding_path(@holding), method: :patch, class: "btn btn-danger" , form_class: "deleteButton", data: {turbo:false} if policy(@holding).cancel?   %>
      <%= button_to "Approve" , approve_holding_path(@holding), method: :patch, class: "btn btn-success" , form_class: "deleteButton", data: {turbo:false} if policy(@holding).approve?  %>
    <% end %>

    <% if policy(@holding).excercise? && @holding.excercisable? %>
      <%= link_to "Excercise" , new_excercise_path("excercise[holding_id]": @holding.id, "excercise[entity_id]": @holding.entity_id), {class: "btn btn-primary" } %> 
    <% end %>

    <% if policy(@holding).esop_grant_letter? %>
      <%= link_to "Download Grant Letter" , esop_grant_letter_holding_path(@holding, format: :pdf), {class: "btn btn-success", target: "_blank" } %> 
    <% end %>

  </div>

  <div class="associated_entity">
    <%= render "/excercises/index", excercises: @holding.excercises if @holding.investment_instrument == "Options" %>
  </div>