<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Type
      </td>
      <td>
        <%= @holding.holding_type %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <%= @holding.user ? "#{@holding.user.full_name}, #{@holding.user.email}" : @holding.investor.investor_name %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Instrument
      </td>
      <td>
        <%= @holding.investment_instrument %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @holding.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Value
      </td>
      <td>
        <%= @holding.value %>
      </td>
    </tr>


  </table>


  <div>
    <% if Pundit.policy(current_user, @holding).update? %>
      <%= link_to "Edit" , edit_holding_path(@holding), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @holding, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
    <% end %>
  </div>