<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Type
      </td>
      <td>
        <%= @holding.holding_type %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <% if @holding.user %>
          <%=  @holding.user.full_name %>, <%= @holding.user.email %>
        <% else %>

          <%= current_user.entity_id == @holding.entity_id ?  
              link_to(@holding.investor.investor_name, @holding.investor) : @holding.investor.investor_name  %>

        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Instrument
      </td>
      <td>
        <%= @holding.investment_instrument %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= custom_format_number @holding.quantity, params %>
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <%= custom_format_number @holding.price, params %>
      </td>
    </tr>
    <tr>
      <td>
        Value
      </td>
      <td>
        <%= money_to_currency @holding.value, params %>
      </td>
    </tr>
    

  </table>


  <div>
    <% if Pundit.policy(current_user, @holding).update? %>
      <%= link_to "Edit" , edit_holding_path(@holding), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @holding, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
    <% end %>
  </div>