<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Type
      </td>
      <td>
        <%= @holding.holding_type %>
      </td>
    </tr>
    <tr>
      <td>
        Investor
      </td>
      <td>
        <% if @holding.user %>
          <%=  @holding.user.full_name %>, <%= @holding.user.email %>
        <% else %>

          <%= current_user.entity_id == @holding.entity_id ?  
              link_to(@holding.investor.investor_name, @holding.investor) : @holding.investor.investor_name  %>

        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Employee ID
      </td>
      <td>
        <%= @holding.employee_id %>
      </td>
    </tr>

    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding.entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Instrument
      </td>
      <td>
        <%= @holding.investment_instrument %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= custom_format_number @holding.quantity, params %>
      </td>
    </tr>
    
    <% if @holding.investment_instrument == "Options" %>
    <tr>
      <td>
        Option Pool
      </td>
      <td>
        <%= link_to  @holding.option_pool.name, @holding.option_pool if @holding.option_pool %>
      </td>
    </tr>
    <tr>
      <td>
        Grant Date
      </td>
      <td>
        <%= l @holding.grant_date if @holding.grant_date %>
      </td>
    </tr>
    <tr>
      <td>
        Vested Quantity
      </td>
      <td>
        <%= custom_format_number @holding.vested_quantity, params %>
      </td>
    </tr>
    <tr>
      <td>
        Excercised Quantity
      </td>
      <td>
        <%= custom_format_number @holding.excercised_quantity, params %>
      </td>
    </tr>
    <tr>
      <td>
        UnExcercised Quantity
      </td>
      <td>
        <%= custom_format_number @holding.unexcercised_quantity, params %>
      </td>
    </tr>
    
    <% if @holding.lapsed %>
      
      <tr>
        <td>
          Lapsed Quantity
        </td>
        <td>
          <%= custom_format_number @holding.lapsed_quantity, params %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        Balance Quantity
      </td>
      <td>
        <%= custom_format_number @holding.balance_quantity, params %>
      </td>
    </tr>

    <tr>
      <td>
        Schedule
      </td>
      <td>
        
        <ul class="vesting_schedule">
          <% @holding.vesting_schedule.each do |schedule| %>
            <li>
              On <%= l schedule[0] %>, 
              <%= schedule[1] %>% of your Options,
              which is <%= schedule[2] %> Options, can be vested.
            </li>
          <% end %>
        </ul>
      </td>
    </tr>

    
    <% else %>
      
      <tr>
        <td>
          Price
        </td>
        <td>
          <%= custom_format_number @holding.price, params %>
        </td>
      </tr>
      <tr>
        <td>
          Value
        </td>
        <td>
          <%= money_to_currency @holding.value, params %>
        </td>
      </tr>
      
    <% end %>
    


  </table>


  <div>
    <% if policy(@holding).update? %>
      <%= link_to "Edit" , edit_holding_path(@holding), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @holding, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
    <% end %>

    <% if policy(@holding).excercise? && @holding.excercisable? %>
      <%= link_to "Excercise" , new_excercise_path("excercise[holding_id]": @holding.id, "excercise[entity_id]": @holding.entity_id), {class: "btn btn-primary" } %> 
    <% end %>
  </div>

  <div class="associated_entity">
    <%= render "/excercises/index", excercises: @holding.excercises if @holding.investment_instrument == "Options" %>
  </div>