
<tr id="<%= dom_id deal_doc %>">
<td>
    <%= deal_doc.name %>
</td>  
<td>
    <%= deal_doc.deal_name %>
</td>  
<td>
    <%= deal_doc.investor_name if deal_doc.deal_investor_id %>
</td>  
<td>
    <%= deal_doc.deal_activity_title if deal_doc.deal_activity_id %>
</td>  
<td>
    <%= deal_doc.user.name %>
</td>  
<td>
  <%= link_to "Show", deal_doc , {class: "btn btn-primary"}%>
</td>
</tr>
