

<tr id="<%= dom_id aggregate_investment %>">
<td>
    <%= aggregate_investment.entity.name %>
</td>  
<td>
    <%= link_to aggregate_investment.funding_round.name, aggregate_investment.funding_round %>
</td>  
<td>
    <%= aggregate_investment.investor.category %>
</td>  
<td>
    <%= link_to aggregate_investment.investor.investor_name, aggregate_investment.investor %>
</td>  
<td>
    <%= custom_format_number aggregate_investment.equity, params %>
</td>  
<td>
    <%= custom_format_number aggregate_investment.preferred, params %>
</td>  
<td>
  <%= custom_format_number (aggregate_investment.equity + aggregate_investment.preferred) , params %>
</td>
<td>
  <%= aggregate_investment.percentage %> %
</td>  

<td>
    <%= custom_format_number aggregate_investment.option, params %>
</td>  

<td>
  <%= custom_format_number (aggregate_investment.equity + aggregate_investment.preferred + aggregate_investment.option), params %>
</td>  

<td>
    <%= aggregate_investment.full_diluted_percentage %> %
</td>  
<td>
  <%= link_to "Show", aggregate_investment , {class: "btn btn-primary"}%>
</td>
</tr>
