
<tr id="<%= dom_id doc_visibility %>">
    <td>
        <%= doc_visibility.document.name %>
    </td>  
    <td>
        <%= doc_visibility.visiblity_type %>
    </td>  
    <td>
        <%= doc_visibility.to %>
    </td>  
    <td>
    <%= link_to "Show", doc_visibility , {class: "btn btn-primary"}%>
    </td>
</tr>
