<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Action
      </td>
      <td>
        <%= @holding_audit_trail.action %>
      </td>
    </tr>
    <tr>
      <td>
        Parent
      </td>
      <td>
        <%= link_to @holding_audit_trail.parent.action, @holding_audit_trail.parent if @holding_audit_trail.parent %>
      </td>
    </tr>
    <tr>
      <td>
        Owner
      </td>
      <td>
        <%= @holding_audit_trail.owner %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @holding_audit_trail.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Operation
      </td>
      <td>
        <%= @holding_audit_trail.operation %>
      </td>
    </tr>
    <tr>
      <td>
        Ref
      </td>
      <td>
        <%= link_to @holding_audit_trail.ref_type, @holding_audit_trail.ref %>
      </td>
    </tr>
    <tr>
      <td>
        Comments
      </td>
      <td>
        <%= @holding_audit_trail.comments %>
      </td>
    </tr>
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @holding_audit_trail.entity_id %>
      </td>
    </tr>


  </table>


  <div>
    <%= link_to "Edit" , edit_holding_audit_trail_path(@holding_audit_trail), {class: "btn btn-primary" } %> |
      <%= link_to "Back" , :back, {class: "btn btn-primary" } %> |

        <%= button_to "Delete" , @holding_audit_trail, method: :delete, class: "btn btn-danger" ,
          form_class: "deleteButton" , data: {action: "click->confirm#delete" , turbo:false} %>
  </div>