
<tr id="<%= dom_id doc_access %>">
    <td>
        <%= doc_access.document.name %>
    </td>  
    <td>
        <%= doc_access.access_type %>
    </td>  
    <td>
        <%= doc_access.to %>
        <% 
            if doc_access.status.present? 
            badge = doc_access.status == "Sent" ? "badge-success" : "badge-warning"
        %>
            <div>
            <span class="badge <%= badge %>">
                <%= "Status: " + doc_access.status %>        
            </span>
            </div>
        <% end %>
    </td>  
    <td>
        <%= button_to "Send Email", send_email_doc_access_path(doc_access), class: "btn btn-success", form_class: "deleteButton", 
        "data-toggle": "tooltip", "title": "Email document link to this #{doc_access.access_type}" %>    
        <%= button_to "Delete", doc_access, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>    
    </td>
</tr>
