
<tr id="<%= dom_id doc_access %>">
    <td>
        <%= doc_access.document.name %>
    </td>  
    <td>
        <%= doc_access.visiblity_type %>
    </td>  
    <td>
        <%= doc_access.to %>
    </td>  
    <td>
    <%= link_to "Show", doc_access , {class: "btn btn-primary"}%>
    </td>
</tr>
