<%= form_with(model: doc_access) do |form| %>
  <% if doc_access.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(doc_access.errors.count, "error") %> prohibited this doc_access from being saved:</h2>

      <ul>
        <% doc_access.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :document %>
    <%= form.number_field :document_id, class: "form-control", hidden: true  %>
    <%= form.text_field :document_name, class: "form-control", disabled: true, value: doc_access.document.name  %>
  </div>

  <div class="form-group">
    <%= form.label :access_type %>
    <%= form.select :access_type, DocAccess::VISIBILITY, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :to %>
    <%= form.text_field :to, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
