<%= turbo_frame_tag "new_doc_access" do %>

  <%= form_with(model: doc_access) do |form| %>
    <% if doc_access.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(doc_access.errors.count, "error") %> prohibited this doc_access from being saved:</h2>

        <ul>
          <% doc_access.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.number_field :document_id, class: "form-control", hidden: true  %>
    </div>

    <div class="form-group">
      <%= form.label :access_type %>
      <%= form.select :access_type, DocAccess::VISIBILITY, {}, {class: "form-control"} %>
    </div>

    <div class="form-group" id="category_form_group" style="visibility: visible">
      <%= form.label :select_category %>
      <%= form.select :to, Investor::CATEGORIES, {}, {id: "doc_access_to_category", class: "form-control"} %>
    </div>

    <div class="form-group" id="email_form_group" style="visibility: visible; disabled: disabled">
      <%= form.label :email %>
      <%= form.text_field :to, {id: "doc_access_to_email", class: "form-control"} %>
    </div>


    <div class="form-group">
      <%= form.submit "Save", {class: "btn btn-primary"}%>
    </div>
  <% end %>

<% end %>

