<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Document
        </td>
        <td>
          <%= @doc_access.document_id %>
        </td>    
      </tr>
          <tr>
        <td>
          Visiblity Type
        </td>
        <td>
          <%= @doc_access.visiblity_type %>
        </td>    
      </tr>
          <tr>
        <td>
          To
        </td>
        <td>
          <%= @doc_access.to %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_doc_access_path(@doc_access), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @doc_access, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>
