
<% if !current_user.entity_id.present? %>
    <div class="alert alert-danger" role="alert">
        You are not associated with your startup in our database. Step 1.   
        <a class="btn btn-primary" rel="nofollow" href="<%= new_entity_path("entity[entity_type]": "Startup") %>">Setup Startup →</a>
    </div>
<% end %>



<%= render "entities/cxo_dashboard_stats" %>

<%= render "notes/charts", entity: current_user.entity %>

<%= render "investments/charts", entity: current_user.entity %>

<% if current_user.entity.notes.count > 0 %>
<div class="associated_entity">
    <%= render "notes/index", notes: current_user.entity.notes.order("id desc").limit(5), title: "Recent Notes" %>
</div>
<% end %>

<% if current_user.entity.investors.not_interacted(30).count > 0 %>
<div class="associated_entity">
    <%= render "investors/index", investors: current_user.entity.investors.not_interacted(30).limit(5).page, title: "No Interaction in 30 Days" %>
</div>
<% end %>

<% if PublicActivity::Activity.where(entity_id: current_user.entity_id).count > 0 %>
    <% activities = PublicActivity::Activity.where(entity_id: current_user.entity_id).limit(10) %>
    <%= render "notifications/timeline", activities: activities if activities %>
<% end %>




