<tr id="<%= dom_id excercise %>">
  <td>
    <%= excercise.entity.name %>
  </td>
  <td>
    <%= excercise.user.full_name %>
  </td>
  <td>
    <%= excercise.esop_pool.name %>
  </td>
  <td>
    <%= excercise.quantity %>
  </td>
  <td>
    <%= excercise.price %>
  </td>
  <td>
    <%= excercise.amount %>
  </td>
  <td>
    <%= excercise.tax %>
  </td>
  <td>
    <%= excercise.approved ? "Yes" : "No" %>
  </td>
  <td>
    <%= link_to "Show" , excercise , {class: "btn btn-primary" }%>
  </td>
</tr>