<%= form_with(model: excercise) do |form| %>
  <% if excercise.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(excercise.errors.count, "error") %> prohibited this excercise from being saved:</h2>

      <ul>
        <% excercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.number_field :holding_id, class: "form-control", hidden: true  %>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :tax %>
    <%= form.text_field :tax, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :approved %>
    <%= form.check_box :approved, class: "form-control form-checkbox"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
