<table class="table table-bordered dataTable">

    <tr>
      <td>
        Offer Entity
      </td>
      <td>
        <%= interest.offer_entity.name %>
      </td>
    </tr>
    <tr>
      <td>
        Secondary Sale
      </td>
      <td>
        <%= interest.secondary_sale.name %> : 
        <%= l interest.secondary_sale.start_date %> - <%= l interest.secondary_sale.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= interest.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <%= interest.price %>
      </td>
    </tr>
    <tr id="short_listed">
      <td>
        Shortlisted
      </td>
      <td>
        <%= interest.short_listed? ? "Yes" : "No" %>
      </td>
    </tr>
    <tr id="escrow_deposited">
      <td>
        Escrow Deposited
      </td>
      <td>
        <%= interest.escrow_deposited? ? "Yes" : "No" %>
      </td>
    </tr>
    
    <% if current_user %>
    
    <tr>
      <td>
        User
      </td>
      <td>
        <%= interest.user_id == current_user.id || interest.escrow_deposited? ? interest.user.full_name + " " + interest.user.email : ENV["OBFUSCATION"] %>
      </td>
    </tr>
    <tr>
      <td>
        Interest Entity
      </td>
      <td>
        <%= interest.user_id == current_user.id || interest.escrow_deposited? ? interest.interest_entity.name : ENV["OBFUSCATION"] %>
      </td>
    </tr>

    <% end %>

  </table>
