<%= render "/layouts/alerts" %>

  <table class="table table-bordered dataTable">

    <tr>
      <td>
        Offer Entity
      </td>
      <td>
        <%= @interest.escrow_deposited? ? @interest.offer_entity.name : "------" %>
      </td>
    </tr>
    <tr>
      <td>
        Secondary Sale
      </td>
      <td>
        <%= @interest.secondary_sale.name %> : 
        <%= l @interest.secondary_sale.start_date %> - <%= l @interest.secondary_sale.end_date %>
      </td>
    </tr>
    <tr>
      <td>
        Quantity
      </td>
      <td>
        <%= @interest.quantity %>
      </td>
    </tr>
    <tr>
      <td>
        Price
      </td>
      <td>
        <%= @interest.price %>
      </td>
    </tr>
    <tr>
      <td>
        Shortlisted
      </td>
      <td>
        <%= @interest.short_listed? ? "Yes" : "No" %>
      </td>
    </tr>
    <tr>
      <td>
        Escrow Deposited
      </td>
      <td>
        <%= @interest.escrow_deposited? ? "Yes" : "No" %>
      </td>
    </tr>
    <tr>
      <td>
        User
      </td>
      <td>
        <%= @interest.escrow_deposited? ? @interest.user.full_name + " " + @interest.user.email : "------" %>
      </td>
    </tr>
    <tr>
      <td>
        Interest Entity
      </td>
      <td>
        <%= @interest.interest_entity.name %>
      </td>
    </tr>



  </table>


  <div>
    <% if Pundit.policy(current_user, @interest).update? %>
      <%= link_to "Edit" , edit_interest_path(@interest), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @interest, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
    <% end %>
  </div>