<tr id="<%= dom_id document %>">
  <td>
      <%= link_to document.name, document %>
  </td>  
  <td>
    <%= document&.folder.full_path %>
  </td>
  <td class="hideMobP">
      <%= raw document.tags.map{|tag| link_to(tag.name, search_documents_path(query: tag.name))}.join(", ") %>
  </td>  
  <td class="hideMobP">
    <%= l document.created_at %>
  </td>  

</tr>
