<tr id="<%= dom_id deal_activity %>">
<td>
    <%= deal_activity.title %>
</td>  
<td>
    <%= deal_activity.deal_name %>
</td>  
<td>
    <%= deal_activity.investor_name %>
</td>  
<td>
    <%= deal_activity.by_date %>
</td>  
<td>
    <%= deal_activity.status %>
</td>  
<td>
    <%= deal_activity.completed_status %>
</td>  
<td>
    <%= deal_activity.entity_name %>
</td>  
<td>
  <%= link_to "Show", deal_activity , {class: "btn btn-primary"}%>
  <%= link_to "New Doc", new_deal_doc_path("deal_doc[deal_id]": deal_activity.deal_id, "deal_doc[deal_activity_id]": deal_activity.id) , {class: "btn btn-success"}%>
  <%= link_to "View Docs", deal_docs_path(deal_activity_id: deal_activity.id) , {class: "btn btn-primary"}%>
</td>
</tr>
