<tr id="<%= dom_id deal_activity %>" class="item">
<td>
    <% if params[:template].present? %>
    <i class="fas fa-arrows-alt handle"></i>
    <% end %>
    <%= deal_activity.sequence %>
</td>  
<td>
    <%= link_to deal_activity.title, deal_activity %>
</td>  
<td>
    <%= link_to deal_activity.deal_name, deal_activity.deal %>
</td>  
<td>
    <%= link_to deal_activity.investor_name, deal_activity.deal_investor if deal_activity.deal_investor %>
</td>  
<td>
    <%= deal_activity.by_date %>
</td>  
<td>
    <%= deal_activity.status %>
</td>  
<td>
    <%= deal_activity.completed_status %>
</td>  
<td>
    <%= deal_activity.days %>
</td>  
<td>
  <%= link_to "New Doc", new_deal_doc_path("deal_doc[deal_id]": deal_activity.deal_id, "deal_doc[deal_activity_id]": deal_activity.id) , {class: "btn btn-success"}%>
  <%= link_to "View Docs", deal_docs_path(deal_activity_id: deal_activity.id) , {class: "btn btn-primary"}%>
</td>
</tr>
