<tr id="<%= dom_id deal_activity %>" class="item">
    <td>
        <% if params[:template].present? %>
        <i class="fas fa-arrows-alt handle"></i>
        <% end %>
        <%= deal_activity.sequence %>
    </td>  
    <td>
        <%= link_to deal_activity.title, deal_activity %>
    </td>  
    <td>
        <%= link_to deal_activity.deal_name, deal_activity.deal %>
    </td>  
    <td>
        <%= link_to deal_activity.investor_name, deal_activity.deal_investor if deal_activity.deal_investor %>
    </td>  
    <td>
        <%= l deal_activity.by_date %>
    </td>  
    <td>
        <%= deal_activity.status %>
    </td>  
    <td>
        <span class="badge <%= completed_badge(deal_activity) %>"><%= deal_activity.completed_status %></span>
    </td>  
    <td>
        <%= deal_activity.days %>
</td>  
</tr>
