
<tr id="<%= dom_id deal %>">
<td>
    <%= deal.entity.name %>
</td>  
<td>
    <% if current_user.entity_id == deal.entity_id %>    
        <%= link_to deal.name, deal_path(deal, grid_view: true) %>
    <% else %>
        <%= link_to deal.name, deal_path(deal) %>
    <% end %>
    <div>
        <% if deal.start_date %>
            <span class="badge bg-success">Start Date: <%= l deal.start_date %></span>
        <% else %>
            <span class="badge bg-warning">Not Started</span>
        <% end %>
    </div>
</td>  
<td>
    <%= number_to_currency deal.amount %>
</td>  
<td>    
    <span class="badge bg-info"><%= deal.status %></span>
</td>  
<% if current_user.entity_id == deal.entity_id %>

<td>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <%= link_to "Show", deal , {class: "dropdown-item"}%>
        <div class="dropdown-divider"></div>

        <%= link_to "Add Investor", new_deal_investor_path("deal_investor[deal_id]": deal.id, "deal_investor[entity_id]": current_user.entity_id) , {class: "dropdown-item"}%>
        <%= link_to "View Investors", deal_investors_path(deal_id: deal.id) , {class: "dropdown-item"}%>        
       
    </div>
  </div>
</td>

<% end %>
</tr>
