<%= turbo_frame_tag "deal_show" do %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= deal.entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Name
        </td>
        <td>
          <%= deal.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Amount
        </td>
        <td>
          <%= deal.amount %>
        </td>    
      </tr>
          <tr>
        <td>
          Start Date
        </td>
        <td>
          <%= deal.start_date ?  l(deal.start_date) : "Not Started" %>
        </td>    
      </tr>
      </tr>
          <tr>
        <td>
          Status
        </td>
        <td>
          <%= deal.status %>
        </td>    
      </tr>
  
</table>


<div>
  <%= link_to "Edit", edit_deal_path(deal), {class: "btn btn-primary"} %> |
  <% if !deal.start_date.present?  %>
    <%= button_to "Start Deal", start_deal_deal_path(deal), {class: "btn btn-primary", form_class: "deleteButton"} %> |
  <% end %>
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |
  <%= link_to "Activity Template", deal_activities_path(deal_id: deal.id, template: true) , {class: "btn btn-success"}%> |
  <%= button_to "Delete", @deal, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>

<% end %>