<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Deal Grid View</h1>
    <span>
        <% if params[:all].blank? %>
            <%= link_to "All Investors", deal_path(id: @deal.id, grid_view: true, all:true), {class: "btn btn-primary"}  %>
        <% else %>
            <%= link_to "Not Declined", deal_path(id: @deal.id, grid_view: true), {class: "btn btn-primary"}  %>
        <% end %>

        <%= link_to deal_path(id: @deal.id, grid_view: true, all:true, format: :xlsx), {class: "btn btn-success"} do %>
            <i class="fa-lg fa-regular fa-file-excel"></i> Download
        <% end %>
    </span>
</div>

<div id="deal_grid_div">
    <table id="deal_grid_view" class="table table-bordered dataTable" >
        <tr>
            <th>Investor</th>
            <th>Primary</th>
            <th>Secondary</th>
            <% DealActivity.templates(@deal).each do |deal_activity| %>
                <th> <small class="text-muted"><%= deal_activity.title %></small> </th>
            <% end %>
        </tr>
        <% @deal_investors.includes(:investor, :deal_activities).each do |deal_investor| %>
            <%= render "deals/grid_view_row", deal_investor: deal_investor %>
        <% end %>
    </table>
</div>

<%= render "/deals/deal_details", deal: @deal, show_investors: "No" %>
