
<%= render "/layouts/alerts" %>

<%= render "/deals/show", deal: @deal %>

<% if current_user.entity_id == @deal.entity_id %>

  <div>
    <%= link_to "Edit", edit_deal_path(@deal), {class: "btn btn-primary"} %> |
    <% if !@deal.start_date.present?  %>
      <%= button_to "Start Deal", start_deal_deal_path(@deal), 
        {"data-turbo": "false", class: "btn btn-primary", form_class: "deleteButton"} %> |
    <% end %>
    <%= link_to "Activity Template", deal_activities_path(deal_id: @deal.id, template: true) , {class: "btn btn-success"}%> |
    <%= button_to "Delete", @deal, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>


    <%  access_right = AccessRight.new(
                        owner_id: @deal.id, 
                        access_type: "Deal", 
                        owner_type: "Deal", 
                        owner_id: @deal.entity_id,
                        entity_id: current_user.entity_id) %> 

  </div>

  <div id="access_rights" class="associated_entity">
    <%= render "/access_rights/index", access_rights: @deal.access_rights, access_right: access_right %>
  </div>

  <div data-controller="access"></div>

  
<% else %>

  <% deal_investor = @deal.deal_investors.for(current_user).first %>
  <%= render "deal_investors/deal_investor_details", 
    deal_investor: deal_investor, deal: @deal, show_tranch: true %>
  
<% end %>