<div class="row">
    <div class="col-lg-8 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span class="chat-with">Chat between <%=deal_investor.investor.investor_entity.name %> & <%=deal_investor.entity_name%> </span>
                    <%= link_to deal_messages_path(deal_investor_id: deal_investor.id), target: "_blank", class: "float-right" do %>
                        <i class="fas fa-expand"></i>
                    <% end %>
                </h6>
            </div>
            <div class="card-body">
                <%= render "deal_messages/conversation", deal_messages: deal_messages, deal_investor: deal_investor %>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Tasks</span>    
                <%= link_to "Show Completed", deal_messages_path(deal_investor_id: deal_investor.id, deal_id: deal_investor.deal_id, show_all: true), class: "float-right btn btn-sm btn-primary"%>
                
            </div>
            <div class="card-body">
                <% tasks = params[:show_all]=='true' ? deal_messages.tasks : deal_messages.tasks_not_done %>
                <%= render "deal_messages/index", deal_messages: tasks %>
            </tasks
        </div>
    </div>
</div>