
<tr id="<%= dom_id deal_message %>">
  <td>
      <% if deal_message.entity_id == current_user.entity_id %>
        <%= link_to deal_message.user.name, deal_messages_path(user_id: deal_message.user_id, tasks: true) %>
      <% else %>
        <%= deal_message.user.name %>
      <% end %>
  </td>  
  <td>
    <% if deal_message.entity_id == current_user.entity_id %>
      <%= link_to deal_message.deal_investor.investor_name, deal_message.deal_investor %>
      <% else %>
        <%= deal_message.deal_investor.investor_name %>
      <% end %>
  </td>
  <td>
      <%= deal_message.content %>
  </td>
  <td>
      <% checked = deal_message.task_done == 1 ? "checked" : ""%>
      <%= form_with(model: deal_message, url: task_done_deal_message_path(deal_message)) do |form| %>
          <%= form.check_box :task_done, class: "form-control task-done-checkbox", onchange:"this.form.requestSubmit();"  %>
      <% end %>
  </td>  
</tr>
