<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

      <tr>
        <td>
          User
        </td>
        <td>
          <%= @deal_message.user.name %>
        </td>    
      </tr>
      <tr>
        <td>
          Content
        </td>
        <td>
          <%= @deal_message.content %>
        </td>    
      </tr>
        
  
</table>


<div>
  <%= link_to "Edit", edit_deal_message_path(@deal_message), {class: "btn btn-primary"} %> |
  <%= link_to "Back", :back, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @deal_message, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>
