<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Name
        </td>
        <td>
          <%= @secondary_sale.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @secondary_sale.entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Start Date
        </td>
        <td>
          <%= l @secondary_sale.start_date %>
        </td>    
      </tr>
          <tr>
        <td>
          End Date
        </td>
        <td>
          <%= l @secondary_sale.end_date %>
        </td>    
      </tr>
          <tr>
        <td>
          Percent Allowed
        </td>
        <td>
          <%= @secondary_sale.percent_allowed %> %
        </td>    
      </tr>
          <tr>
        <td>
          Min Price
        </td>
        <td>
          <%= @secondary_sale.min_price %>
        </td>    
      </tr>
          <tr>
        <td>
          Max Price
        </td>
        <td>
          <%= @secondary_sale.max_price %>
        </td>    
      </tr>
          <tr>
        <td>
          Active
        </td>
        <td>
          <%= @secondary_sale.active ? "Yes" : "No" %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_secondary_sale_path(@secondary_sale), {class: "btn btn-primary"} %> |
  <%= button_to "Delete", @secondary_sale, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>

<%= render "/secondary_sales/secondary_sale_details", secondary_sale: @secondary_sale %>