<%= render "/layouts/alerts" %>

  <%= render "/secondary_sales/show", secondary_sale: @secondary_sale %>


  <div>
    <% if Pundit.policy(current_user, @secondary_sale).update? %>
      <%= link_to "Edit" , edit_secondary_sale_path(@secondary_sale), {class: "btn btn-primary" } %> |
      <%= link_to "Download Details XL" , download_secondary_sale_path(@secondary_sale, format: "xlsx"), {class: "btn btn-success" } %> |
      <% label = @secondary_sale.visible_externally ? "Hide Externally" : "Make Visible Externally" %>
      <%= button_to label , make_visible_secondary_sale_path(@secondary_sale), method: :patch, class: "btn btn-success" , form_class: "deleteButton" %> |
      <%= button_to "Delete" , @secondary_sale, method: :delete, class: "btn btn-danger" , form_class: "deleteButton" %>
    <% end %>
  </div>

  <%= render "/layouts/steps", steps: ["Setup Access Rights", "View / Approve Offers", "View / Shortlist Interests"].freeze if @secondary_sale.entity_id == current_user.entity_id %>

  <%= render "/secondary_sales/secondary_sale_details" , secondary_sale: @secondary_sale %>