  <div class="form-group">
    <%= form.label :investor %>
    <% if investor.investor_entity %>
      <%= form.text_field :investor_entity_name, class: "form-control typeahead", 
        value: investor.investor_name  %>
    <% else %>
      <%= form.text_field :investor_entity_name, class: "form-control typeahead", 
        value: ""  %>
    <% end %>
    <%= form.text_field :investor_entity_id, class: "form-control", hidden: true   %>
  </div>

  <% if current_user.role == "Super" %>
  <div class="form-group">
    <%= form.label :investee_entity_id %>
    <%= form.number_field :investee_entity_id, class: "form-control"  %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Investor.INVESTOR_CATEGORIES(current_user.entity) , {include_blank: true}, class: "form-control"  %>
  </div>

  <div data-controller="investor"></div>
