  <div class="form-group">
    <%= form.label :investor %>
    <%= form.text_field :investor_entity_name, class: "form-control typeahead"  %>
    <%= form.text_field :investor_id, class: "form-control", hidden: true   %>
    <%= form.text_field :investor_type, class: "form-control", hidden: true, value: "Entity"   %>
  </div>

  <% if current_user.role == "Super" %>
  <div class="form-group">
    <%= form.label :investee_entity_id %>
    <%= form.number_field :investee_entity_id, class: "form-control"  %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Investor::CATEGORIES , {include_blank: true}, class: "form-control"  %>
  </div>

  <div data-controller="investor"></div>
