<tr id="<%= dom_id investor %>">
<td>
    <%= investor.investor.name %>
</td>  
<td>
    <%= investor.investee_entity.name %>
</td>  
<td>
    <%= investor.category %>
</td>  
<td>
  <%= link_to "Show", investor , {class: "btn btn-primary"}%>
  <%= link_to "Add User", new_user_path(entity_id: investor.investor_id) , {class: "btn btn-success"}%>
</td>
</tr>
