<tr id="<%= dom_id investor %>">
<td>
    <%= link_to investor.investor_name, investor %>
</td>  
<td class="">
    <%= investor.category %>
</td>  
<td>
  <%= link_to "Add Note", new_note_path("note[investor_id]": investor.id, "note[entity_id]": investor.investee_entity_id) , {class: "btn btn-sm btn-success"}%>
  <%= link_to "View Notes", notes_path(investor_id: investor.id) , {class: "btn btn-sm btn-success"}%>
</td>
</tr>
