<tr id="<%= dom_id investor %>">
<td>
    <%= link_to investor.investor_name, investor %>
</td>  
<td>
  <%= raw investor.tags.map{|tag| link_to(tag.name, search_investors_path(query: tag.name))}.join(", ") %>
</td>  
<td>
  <%= investor.category %>
</td>
<td>
  <% if investor.investor_accesses_count > 0 %>
    <span class="badge badge-success">
      <%= link_to "Approved #{investor.investor_accesses_count}", investor_path(investor, tab: "investors-tab") %>
    </span>
  <% end %>
  <% if investor.unapproved_investor_access_count > 0 %>
    <span class="badge badge-danger">
      <%= link_to "Pending #{investor.unapproved_investor_access_count}", investor_path(investor, tab: "investors-tab") %>
    </span>
  <% end %>
</td>  
<td>
  <%= link_to "Add Note", new_note_path("note[investor_id]": investor.id, "note[entity_id]": investor.investee_entity_id) , {class: "btn btn-sm btn-success"}%>
  <%= link_to "View Notes", notes_path(investor_id: investor.id) , {class: "btn btn-sm btn-success"}%>
</td>
</tr>
