<tr id="<%= dom_id investor %>">
<td>
    <%= link_to investor.investor_entity.name, investor %>
</td>  
<td>
    <%= investor.investee_entity.name %>
</td>  
<td>
    <%= investor.category %>
</td>  
<td>
  <%= link_to "Add Note", new_note_path(investor_id: investor.id) , {class: "btn btn-success"}%>
</td>
</tr>
