<tr id="<%= dom_id investor %>">
<td>
    <%= investor.investor_entity.name %>
</td>  
<td>
    <%= investor.investee_entity.name %>
</td>  
<td>
    <%= investor.category %>
</td>  
<td>
  <%= link_to "Show", investor , {class: "btn btn-primary"}%>
  <%= link_to "Add Access", new_investor_access_path(investor_id: investor.id) , {class: "btn btn-success"}%>
</td>
</tr>
