<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Investor
        </td>
        <td>
          <%= @investor.investor_entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Investee Entity
        </td>
        <td>
          <%= @investor.investee_entity.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Category
        </td>
        <td>
          <%= @investor.category %>
        </td>    
      </tr>
    
  
</table>


<div style="display: inline-block;">
  <%= link_to "Edit", edit_investor_path(@investor), {class: "btn btn-primary"} %> |
  <%= link_to "View Notes", notes_path(investor_id: @investor.id), class: "btn btn-success"%> |
  <%= button_to "Delete", @investor, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %> 
</div>

<%= turbo_frame_tag "new_investor_access" do %>
    | <%= link_to "Grant Cap Table Access", new_investor_access_path("investor_access[investor_id]": @investor.id), 
    {  method: :get, class: "btn btn-primary", "data-toggle": "tooltip", 
      "title": "Who can access your info"} %> 
<% end %>
      

<div id="investor_access" class="associated_entity">
  <%= render "investor_accesses/index", investor_accesses: @investor.investor_accesses %>
</div>