<%= render "/layouts/alerts" %>

<div class="card">
  <div class="card-header">
    <%= @esop_pool.name %>
  </div>
  <div class="card-body">

  <table class="table table-bordered dataTable">
    <tr>
      <td>
        Entity
      </td>
      <td>
        <%= @esop_pool.entity.name %>
      </td>
    </tr>
    
    <tr>
      <td>
        Pool Name
      </td>
      <td>
        <%= @esop_pool.name %>
      </td>
    </tr>
    
    <tr>
      <td>
        Start Date
      </td>
      <td>
        <%= l @esop_pool.start_date %>
      </td>
    </tr>
    <tr>
      <td>
        Excercise Price
      </td>
      <td>
        <%= money_to_currency @esop_pool.excercise_price, params %>
      </td>
    </tr>
    <tr>
      <td>
        Excercise Period 
      </td>
      <td>
        <%= @esop_pool.excercise_period_months %> Months
      </td>
    </tr>
    <tr>
      <td>
        ESOP Scheme Documents
      </td>
      <td>
        <%= render "/layouts/attachments" , attachments: @esop_pool.attachments if @esop_pool.attachments.present? %>
      </td>
    </tr>

    <tr>
      <td>
        Excercise Instructions
      </td>
      <td>
        <%= render "/layouts/attachments" , attachments: @esop_pool.excercise_instructions if @esop_pool.excercise_instructions.present? %>
      </td>
    </tr>

    <tr class="">
      <td>
        Number Of Options
      </td>
      <td>
        <%= @esop_pool.number_of_options %>
      </td>
    </tr>
    
    <% if policy(@esop_pool).update? %>

      <tr class="collapse multi-collapse">
        <td>
          Options Granted
        </td>
        <td>
          <%= @esop_pool.allocated_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Options Vested
        </td>
        <td>
          <%= @esop_pool.vested_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Options Excercised
        </td>
        <td>
          <%= @esop_pool.excercised_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Options UnExcercised
          </br>
          (Vested - Excercised)
        </td>
        <td>
          <%= @esop_pool.unexcercised_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Options Lapsed
        </td>
        <td>
          <%= @esop_pool.lapsed_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Balance
          </br>
          (UnExcercised - Lapsed)
        </td>
        <td>
          <%= @esop_pool.balance_quantity %>
        </td>
      </tr>
      <tr class="collapse multi-collapse">
        <td>
          Options Available for Grants
          </br>
          (Number of Options - Granted + Lapsed)
        </td>
        <td>
          <%= @esop_pool.available_quantity %>
        </td>
      </tr>
      
    <% end %>
  </table>
  </div>
</div>

  <div class="card">
    <div class="card-header">
      Vesting Schedule
    </div>
    <div class="card-body">
      <table class="table table-bordered dataTable">
        <tr>
          <th>Months From Grant</th>
          <th>Vesting Percentage</th>
        </tr>
        <% @esop_pool.vesting_schedules.each do |vs| %>
        <tr id="<%= dom_id vs %>">
          <td>
            <%= vs.months_from_grant %>
          </td>
          <td>
            <%= vs.vesting_percent %> %
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if policy(@esop_pool).update? %>
    <div class="actions">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"    aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Details</button> 

      <%= link_to "Edit" , edit_esop_pool_path(@esop_pool), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @esop_pool, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
    </div>

    <%= render "/esop_pools/esop_pool_details" %>
  <% end %>