<%= render "/layouts/alerts" %>

<table class="table table-bordered dataTable">

          <tr>
        <td>
          Name
        </td>
        <td>
          <%= @scenario.name %>
        </td>    
      </tr>
          <tr>
        <td>
          Entity
        </td>
        <td>
          <%= @scenario.entity.name %>
        </td>    
      </tr>
    
  
</table>


<div>
  <%= link_to "Edit", edit_scenario_path(@scenario), {class: "btn btn-primary"} %> |
  <%= link_to "All", scenarios_path, {class: "btn btn-primary"} %> |

  <%= button_to "Delete", @scenario, method: :delete, class: "btn btn-danger", form_class: "deleteButton" %>
</div>
